
@{
    TempData["Title"] = "Şifremi Unuttum";
    ViewBag.Title = "Mail Adresinize Bir Kod Gönderdik. Bu koda Tıklayarak Yeni Şifre Belirleyerek Yeniden Giriş Yapabilirsiniz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="aa-catg-head-banner">
    <img src="~/Content/temp/web/img/fashion/fashion-header-bg-8.jpg" alt="banner" title="provechoo.com" style="max-height:350px;max-width:1400px;min-height:350px;min-width:1400px">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Blog Details</h2>
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Anasayfa</a></li>
                    <li class="active">@TempData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section id="aa-blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-archive-area">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="aa-blog-content aa-blog-details">
                                <article class="aa-blog-content-single">
                                    <h2><a>@TempData["Title"]</a></h2>
                                    <div class="aa-article-bottom">                                       
                                        <div class="aa-post-date">
                                           @DateTime.Now.ToLongDateString()
                                        </div>
                                    </div>
                                    <blockquote>
                                       @ViewBag.Title
                                    </blockquote>                                    
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>