@{
    Layout = null;
}

<div class="text-center">
    @DateTime.Now.Year &copy; kurtulusocL <a href="~/Admin/Index">provechoo.com</a>
    <a href="#" class="go-top">
        <i class="icon-angle-up"></i>
    </a>
</div>
