@{
    Layout = null;
}

<div id="sidebar" class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-cogs"></i>
                <span>İletişim İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/Contact/kurtulusocL">İletişim Bilgi Listesi</a></li>
                <li><a href="~/SocialMedia/kurtulusocL">Sosyal Medya Hesap Listesi</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-laptop"></i>
                <span>Reklam İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/Ad/kurtulusocL">Reklam Listesi</a></li>
                <li><a href="~/VideoAd/kurtulusocL">Video Reklam Listesi</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-book"></i>
                <span>İçerik İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/Country/kurtulusocL">Ülke Listesi</a></li>
                <li><a href="~/City/kurtulusocL">Şehir Listesi</a></li>
                <li><a href="~/Kind/kurtulusocL">Firma Kategori Listesi</a></li>
                <li><a href="~/Category/kurtulusocL">Kategori Listesi</a></li>
                <li><a href="~/Subcategory/kurtulusocL">Altkategori Listesi</a></li>
                <li><a href="~/Slider/kurtulusocL">Slider Resim Listesi</a></li>
                <li><a href="~/Payment/kurtulusocL">Ödeme Sistemi Listesi</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-tasks"></i>
                <span>Firma-Ürün İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/Company/kurtulusocL">Firma Listesi</a></li>
                <li><a href="~/Product/kurtulusocL">Ürün Listesi</a></li>
                <li><a href="~/Picture/kurtulusocL">Resim Listesi</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-tasks"></i>
                <span>Sipariş İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/Order/kurtulusocL">Yapılan Siparişler</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-tasks"></i>
                <span>Gelen Mesaj İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/Complain/kurtulusocL">Bildirilen Firmalar</a></li>
                <li><a href="~/Comment/kurtulusocL">Yorum Listesi</a></li>
                <li><a href="~/MessageFromCompany/kurtulusocL">Firma Mailleri</a></li>
                <li><a href="~/CancelRequest/kurtulusocL">Üyelik İptal Talepleri</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-tasks"></i>
                <span>Admin İçerik İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/AdminCreate/CompanyList">Firma Listesi</a></li>
                <li><a href="~/AdminCreate/ProductList">Ürün Listesi</a></li>
                <li><a href="~/AdminCreate/ProductDetailList">Ürün Detay Listesi</a></li>
                <li><a href="~/AdminCreate/CompanySocialMediaList">Sosyal Medya Hesapları</a></li>
                <li><a href="~/AdminCreate/CompanyContactList">İletişim Bilgileri</a></li>
                <li><a href="~/AdminCreate/PictureList">Resim Listesi</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-tasks"></i>
                <span>Admin İstatistik</span>
            </a>
            <ul class="sub">
                <li><a href="~/AdminIstatistic/CompanyList">Firma İstatistik Listesi</a></li>
                <li><a href="~/AdminIstatistic/GeneralProductIstatistic">Genel Ürün İstatistikleri</a></li>
                <li><a href="~/AdminIstatistic/GeneralCompanyIstatistic">Genel Firma İstatistikleri</a></li>
                <li><a href="~/AdminIstatistic/OurIstatistic">İstatistiklerimiz</a></li>
                <li><a href="~/AdminIstatistic/UserIstatistic">Kullanıcı İstatistikleri</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-sitemap"></i>
                <span>Admin İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/Admin/AdminList">Admin Listesi</a></li>
                <li><a href="~/Admin/SetCookie">Cookie Ata</a></li>
                <li><a href="~/MessageForUser/UserList">Kullanıcıya Mesaj</a></li>
                <li class="sub-menu">
                    <a href="">Admin Kayıt</a>
                    <ul class="sub">
                        <li><a href="~/Account/Register">Yeni Admin Kaydı</a></li>
                        <li><a href="~/Account/RegisterAsistant">Asistan Kaydı</a></li>
                        <li><a href="~/Account/RegisterHelper">Helper Kaydı</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="icon-book"></i>
                <span>Üye İşlemleri</span>
            </a>
            <ul class="sub">
                <li><a href="~/Log/kurtulusocL">Log Listesi</a></li>
                <li><a href="~/ProfilePhoto/kurtulusocL">Profil Resimleri</a></li>
                <li><a href="~/Admin/UserList">Aktif Üye Listesi</a></li>
                <li><a href="~/Admin/CompanyList">Aktif Firma Listesi</a></li>
                <li><a href="~/Admin/AllUser">Kullanıcı İstatistikleri</a></li>
            </ul>
        </li>
    </ul>
</div>
